
QWidget {
    background-color: #181818;
    color: white;
    font-family: var(--vscode-font-family, Consolas, 'Courier New', monospace);
}

QMenu {
    padding: 5px;
    border: 1px solid #2c2c2c;
    border-radius: 7px;
}

QAction {
    padding: 5px;
    border: 1px solid #2c2c2c;
    border-radius: 7px;
}

QPushButton {
    background-color: #181818;
    padding: 10px;
    font-weight: 900;
    border: 1px solid #575757;
    border-radius: 7px;
}

QPushButton:hover {
    background-color: #2c2c2c;
}

QLabel {
    font-size: 18px;
    padding: 10px;
}

/* List Styles */

QListWidget {
    background-color: #2c2c2c;
    border: 1px solid #575757;
    border-radius: 7px;
    padding: 5px;
}

QListWidget::item {
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #181818;
    border-radius: 7px;
    max-width: 300px;
}

QListWidget::item:selected {
    background-color: #6bbcff;
    border: none;
}

QListWidget::item:hover {
    background-color: #6bbcff;
}

/* Scrollbar Styles */

QScrollBar {
    background: transparent;
    width: 16px;
    border: none;
}

QScrollBar::handle {
    background: rgba(255, 255, 255, 100);
    border: none;
    border-radius: 3px;
}

QScrollBar::handle:hover {
    background-color: #6bbcff;
}

QScrollBar::sub-line,QScrollBar::add-line {
    background: none;
    height: 0px;
    width: 0px;
}

QScrollBar::up-arrow, QScrollBar::down-arrow {
    background: none;
    height: 0px;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
}
